PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=n8n_admin
DB_PASSWORD=secret
DB_NAME=n8n
JWT_SECRET=supersecretlongstringforjsonwebtokenurvaseoportal
JWT_EXPIRES=2h
FRONTEND_URL=http://localhost:4200
N8N_RESET_WEBHOOK=http://localhost:5678/webhook/reset-password
